name: Lint Python and HTML

on: [push]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install Python dependencies
      run: |
        pip install --upgrade pip
        pip install pylint

    - name: Install HTMLHint
      run: |
        npm install -g htmlhint

    - name: Lint Python files
      run: |
        pylint $(git ls-files '*.py')

    - name: Lint HTML files
      run: |
        htmlhint $(git ls-files '*.html')
